{
	auto_https off
	log {
		level INFO
		output stdout
	}
}

http://{$MAIN_DOMAIN:localhost} {
	handle {
		basicauth {
			user {$BASIC_AUTH_PASS}
		}
	}
	respond "Hello, world!"
}

http://gps.{$MAIN_DOMAIN:localhost} {
	log {
		output stdout
		level DEBUG
	}
	respond "{{.RemoteIP}}"
}
